.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
}
.item {
    font-size: 12px;
    display: block;
    line-height: 1;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, .3);
}
a.item {
    color: navy;
}
a.item:hover {
    text-decoration: underline;
}
.chevron {
    transform: scale(.7);
}