.app {
    position: relative;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1440px;
    min-height: calc(100dvh - 140px);
    margin: auto;
    padding: 60px 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}
@media screen and (min-width: 996px) {
    .container {
        padding: 60px;
    }
}