.images {
    display: flex;
    max-width: 600px;
    gap: 40px;
}
.thumbnails {
    display: flex;
    flex-direction: column;
    width: 48px;
    gap: 10px;
}
.thumbnail {
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}
.selected {
    border-color: blue;
}
.selectedImg {
    height: 625px;
}
.selectedImg img {
    width: calc(100% - 48px);
}