# Aerospike dependencies
aerospike-vector-search
aerospike
gremlinpython
async_timeout
faker

# Web Server 
fastapi
uvicorn[standard]
python-multipart

# Vector dependencies
sentence_transformers
torch
Pillow