.avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar > img {
    height: 100%;
    width: auto;
}