.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.product h2 {
    margin-bottom: 0;
}
.productData {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    width: 100%;
}
.prodDetail {
    width: 100%;
    max-width: 600px;
}
.prodDetail h2 {
    margin: 0;
}
.related {
    display: flex;
    gap: 40px;   
}
.descContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.description {
    padding: 0 10px;
    font-size: 1rem;
    max-height: 1000px;
    overflow: hidden; 
    transition: max-height 1s ease;
}
.descriptionClamped {
    max-height: 375px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
}
.more {
    width: 100%;
    text-align: center;
    line-height: 1;
    padding-top: 2px;
    background-color: rgba(221, 221, 221, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.chevron {
    transform: rotate(90deg) scale(.8);
    transition: .3s ease-in-out;
}
.chevron.open {
    transform: rotate(-90deg) scale(.8);
}